@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*,*::after,*::before{
    padding: 0%; margin: 0%; box-sizing: border-box;
}

body{
    overflow-x: hidden;
}
.home{
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/main_img-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .home h1{
        text-align: center;
        font-size: 64px;
        font-family: 'Press Start 2P';
        font-weight: 400;
        background: -webkit-linear-gradient(red, black);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
/* end home */
/* gallery */
.gallery{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #dbdbdb;
} 
.gallery h1{
    padding-top: 10px;
    text-align: center;
    font-size: 42px;
    margin: 0px 0px 10px 0px;
    font-family: sans-serif;
}  
.gallery  .next {
    font-size: 22px;
    color: #000;
    cursor: pointer;
    background-color: #dbdbdb;
    padding: 10px;
    border: none;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    right:12%;
    box-shadow:3px 6px 9px 0px #130e0e78;
}
.gallery  .previous {
    font-size: 22px;
    color: #000;
    cursor: pointer;
    background-color: #dbdbdb;
    padding: 10px;
    border: none;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left:12%;
    box-shadow:3px 6px 9px 0px #130e0e78;
}
    /* show-img */
    .gallery .show-img{
        display: block;
        width: 1200px;
        height: 800px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-size: cover;
        background-attachment:scroll;
        background-image: url('./assets/main_img-4.jpg');  background-position: center;
        background-repeat: no-repeat;
        box-shadow:13px 9px 20px 6px #130e0e78;
    }
    .gallery .show-img .close {
        font-size: 42px;
        color: #fff;
        float: right;
        cursor: pointer;
        background-color: red;
        border: none;
        color: white;
        padding: 5px; 
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 8px ;
        cursor: pointer;
        border-radius: 50%;
    }
        .gallery .show-img .close:hover{
            color: #000;
        }
    /* show-img End */
    /* content */
    .gallery .content{
        width: 80%;
        height: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: auto ;
        margin-bottom: 20px;
    }
        /* card */
        .gallery .content .card{
            width: 400px;
            height: 400px;
            margin: 10px 0px 10px 0px;
            box-shadow:13px 9px 20px 6px #130e0e78;
        }
        .gallery .content .card:hover{
            cursor: pointer;
        }
        .gallery .content .card img{
            width: 100%;
            height: 100%;
        }
        /* end card */
    /* content End  */
/* gallery End */

/* system_requirements */
.system_requirements{
    width: 100vw;
    height: 100vh;
}
.system_requirements h1{
    text-align: center;
    font-size: 42px;
    margin: 40px 0px 10px 0px;
    font-family: sans-serif;
}
    .system_requirements .content{
        margin: auto;
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
        /* minimum */
        .system_requirements .content .minimum{
            width: 400px ;
            height: 500px;
            background-color: #dbdbdb;
            border-radius: 12px;
            box-shadow: 20px 16px 20px 0px #130e0e78;
        }
            .system_requirements .content  h2{
                font-size: 32px;
                font-family: sans-serif;
                font-weight: 400;
                text-align: center;
                margin-top: 10px;
                text-transform: capitalize;
            }
            .system_requirements .content  .list{
                width: 80%;
                height: 80%;
                margin: auto;
                list-style: none;
                
            }
                .system_requirements .content .list li{
                    
                }
                    .system_requirements .content  .list li span{
                        color: #130e0e;
                        font-size: 32px;
                        
                    }
                    .system_requirements .content  .list li p{
                        color:#2259ac;
                        font-size: 22px;
                    }
        /* minimum End */
        /* recommended */
        .system_requirements .content .recommended{
            width: 400px ;
            height: 500px;
            background-color: #dbdbdb;
            border-radius: 12px;
            box-shadow: 20px 16px 20px 0px #130e0e78;
        }
        /* recommended End */
/* system_requirements End */
/* about */
.about{
    width: 100vw;
    height: 100vh;
    background-color: #385683;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
/* h1 */
.about h1{
    text-align: center;
    font-size: 42px;
    font-family: sans-serif;
    padding-top: 10px;
}
/* h1 end */
/* content */
.about .content{
    margin-top: 20px;
    width: 60%;
    background-color: #dbdbdb;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 20px 16px 20px 0px #130e0e78;
}
.about .content p{
    font-size: 22px;
    font-family: serif;
    text-transform: capitalize;
    color: #000;
}
/* content end */
/*  a*/
.about a{
    width: 220px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #2259ac;
    font-size: 42px;
    color: #fff;
    border-radius: 12px;
    
}
.about a:hover{
    color: #000;
    box-shadow: 20px 16px 20px 0px #130e0e78;
}
/*  a end*/
/* about end */