@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*,*::after,*::before{
    padding: 0%; margin: 0%; box-sizing: border-box;
}

body{
    overflow-x: hidden;
}
.home{
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/main_img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .home h1{
        text-align: center;
        font-size: 64px;
        font-family: 'Press Start 2P';
        font-weight: 400;
        background: -webkit-linear-gradient(red, black);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
/* end home */
/* system_requirements */
.system_requirements{
    width: 100vw;
    height: 100vh;
}
.system_requirements h1{
    text-align: center;
    font-size: 42px;
    margin: 40px 0px 10px 0px;
    font-family: sans-serif;
}
    .system_requirements .content{
        margin: auto;
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
        /* minimum */
        .system_requirements .content .minimum{
            width: 400px ;
            height: 500px;
            background-color: #dbdbdb;
            border-radius: 12px;
            box-shadow: 20px 16px 20px 0px #130e0e78;
        }
            .system_requirements .content  h2{
                font-size: 32px;
                font-family: sans-serif;
                font-weight: 400;
                text-align: center;
                margin-top: 10px;
                text-transform: capitalize;
            }
            .system_requirements .content  .list{
                width: 80%;
                height: 80%;
                margin: auto;
                list-style: none;
                
            }
                .system_requirements .content .list li{
                    
                }
                    .system_requirements .content  .list li span{
                        color: #130e0e;
                        font-size: 32px;
                        
                    }
                    .system_requirements .content  .list li p{
                        color:#2259ac;
                        font-size: 22px;
                    }
        /* minimum End */
        /* recommended */
        .system_requirements .content .recommended{
            width: 400px ;
            height: 500px;
            background-color: #dbdbdb;
            border-radius: 12px;
            box-shadow: 20px 16px 20px 0px #130e0e78;
        }
        /* recommended End */
/* system_requirements End */